img {
    border-radius: 50%;
}

#hero {
    background-color: #71C9CE;
}

#footer {
    background-color: #71C9CE;
}

#projects {
    background-color: #E3FDFD;
}

#features {
    background-color: #E3FDFD;
}